Importovanje biblioteka

In [80]:
import pandas 
import requests
import urllib.parse
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from imblearn.over_sampling import SMOTE
from sklearn.metrics import precision_score, recall_score, f1_score

Ucitavanje svih potrebnih fajlova

In [2]:
dfTarget = pandas.read_csv('dataset/objects.csv',low_memory=False) # fajl u kom se nalazi ciljno obiljezje
dfDegrees=pandas.read_csv('dataset/degrees.csv',low_memory=False) # fajl u kome se nalaze podaci o diplomama zaposlenih 
dfRelationship=pandas.read_csv('dataset/relationships.csv',low_memory=False) # fajl koji predstavlja medju tabelu koja povezuje zaposlene sa startapima
dfOffices=pandas.read_csv('dataset/offices.csv',low_memory=False)
print('Reading csv files is done...')

Reading csv files is done...

In [3]:
dfRelationship = dfRelationship.drop(columns=['id','relationship_id','start_at','end_at','is_past','sequence','created_at','updated_at'])

In [4]:
dfDegrees = dfDegrees.drop(columns=['id','graduated_at','created_at','updated_at'])

In [5]:
dfRelationship = dfRelationship.merge(dfDegrees,
                   on = "person_object_id", 
                   how = 'right')

In [6]:

dfRelationship.relationship_object_id = dfRelationship.relationship_object_id.fillna('')
dfRelationship.title = dfRelationship.title.fillna('')
dfRelationship.drop(dfRelationship[(dfRelationship.relationship_object_id)==''].index,inplace=True)

In [7]:
dfRelationship.drop(dfRelationship[~(dfRelationship["title"].str.contains('CEO') | dfRelationship["title"].str.contains('President') | (dfRelationship["title"].str.contains('Founder')))].index,inplace=True)

In [8]:
dfRelationship = dfRelationship.drop_duplicates(subset=['relationship_object_id'])

In [9]:
dfRelationship.institution = dfRelationship.institution.fillna('')
dfRelationship.drop(dfRelationship[(dfRelationship.institution)==''].index,inplace=True)

In [10]:
dfRelationship.rename(columns={'relationship_object_id': 'object_id'}, inplace=True)

In [11]:
dfRelationship

,person_object_id,object_id,title,degree_type,subject,institution
3,p:6005,c:2360,CEO,MS,Internet Technology,University of Greenwich
7,p:1017,c:300,Founder,BS,Computer Science,Northeastern University
8,p:1017,c:15531,"Founder, CEO, Chief R&D",BS,Computer Science,Northeastern University
9,p:1017,c:2420,"Vice President, Product",BS,Computer Science,Northeastern University
10,p:1017,c:24606,Founder,BS,Computer Science,Northeastern University
...,...,...,...,...,...,...
395871,p:268517,c:286172,Vice President,B.S.,Engineering,University of Massachusetts
395872,p:268517,c:286173,"Vice President, Chief Patent Counsel",B.S.,Engineering,University of Massachusetts
395901,p:268519,c:286192,Vice President and Associate General Counsel I...,Bachelor of Science,Engineering,"Auburn University, Auburn, Alabama"
395956,p:268521,c:286205,President,BS,Mechanical Engineering,"University of California, Santa Barbara"
395964,p:158143,c:12612,"President & CEO, Wolters Kluwer Health, Clinic...",MBA,NaN,Case Western Reserve University

Izbacivanje nepotrebnih kolona iz dfTarget dataframe-a

In [12]:
dfTarget=dfTarget.drop(columns=['entity_id','parent_id','permalink','closed_at','created_by',
                        'created_at','updated_at','normalized_name','domain',
                        'logo_url','logo_width','logo_height','short_description',
                        'description','overview','tag_list','relationships',
                        'country_code','state_code','region',
                        'relationships','created_by','created_at','updated_at'])

In [13]:
dfOffices=dfOffices.drop(columns=['id','office_id','description','address1','address2','zip_code','created_at','updated_at'])

In [14]:
dfTarget

,object_id,entity_type,name,category_code,status,founded_at,homepage_url,twitter_username,city,first_investment_at,last_investment_at,investment_rounds,invested_companies,first_funding_at,last_funding_at,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones
0,c:1,Company,Wetpaint,web,operating,17/10/2005,http://wetpaint-inc.com,BachelrWetpaint,Seattle,NaN,NaN,0.0,0.0,01/10/2005,19/05/2008,3.0,39750000.0,05/09/2010,18/09/2013,5.0
1,c:10,Company,Flektor,games_video,acquired,NaN,http://www.flektor.com,NaN,Culver City,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0
2,c:100,Company,There,games_video,acquired,NaN,http://www.there.com,NaN,San Mateo,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,01/02/2003,23/09/2011,4.0
3,c:10000,Company,MYWEBBO,network_hosting,operating,26/07/2008,http://www.mywebbo.com,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0
4,c:10001,Company,THE Movie Streamer,games_video,operating,26/07/2008,http://themoviestreamer.com,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462647,r:9995,Product,"SiteLink, listing feed for Brokerages",NaN,operating,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0
462648,r:9996,Product,"EDCLink, listing feed for Economic Development...",NaN,operating,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0
462649,r:9997,Product,"Cmail, broadcast email marketing",NaN,operating,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0
462650,r:9998,Product,"CatylistCRM, contact database",NaN,operating,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0
462651,r:9999,Product,Catylist Custom Print/Web Design,NaN,operating,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,0.0,0.0,NaN,NaN,0.0

In [15]:

dfTarget = dfTarget.merge(dfRelationship,
                   on = "object_id", 
                   how = 'right')
# dfTarget.drop_duplicates(['object_id'], keep="first", inplace=True) # izbacivanje onih koji imaju vise lokacija

Izbacivanje nepotrebnih redova i kolona iz dfTarget

In [16]:
#dfTarget
dfTarget[(dfTarget['status']=='closed')]

,object_id,entity_type,name,category_code,status,founded_at,homepage_url,twitter_username,city,first_investment_at,...,funding_rounds,funding_total_usd,first_milestone_at,last_milestone_at,milestones,person_object_id,title,degree_type,subject,institution
3,c:2420,Company,RealNames,NaN,closed,01/01/1996,http://www.realnames.com,NaN,"San Carlos,",NaN,...,0.0,0.0,01/01/2000,01/01/2000,1.0,p:1017,"Vice President, Product",BS,Computer Science,Northeastern University
21,c:880,Company,mEgo,web,closed,01/10/2005,http://www.mego.com,NaN,Los Angeles,NaN,...,4.0,6515116.0,NaN,NaN,0.0,p:2351,Co-founder & Co-CEO,LLB,Law,University of Toronto School of Law
38,c:1890,Company,Bizak,web,closed,01/11/2007,http://www.bizak.com,NaN,Brookline,NaN,...,1.0,0.0,NaN,NaN,0.0,p:5058,Founder,BS,Boston College,Political Science & Economics
43,c:2306,Company,QponDirect,web,closed,01/12/2006,http://www.qpondirect.com,NaN,Pittsburgh,NaN,...,1.0,300000.0,NaN,NaN,0.0,p:5918,"Founder, Chairman, VP Business Development",BS,Organizational Leadership & Information Techno...,Duquesne University
44,c:2452,Company,IShareWeShare,web,closed,01/01/2008,http://www.ishareweshare.com,NaN,Givataym,NaN,...,0.0,0.0,NaN,NaN,0.0,p:6135,"CEO, Founder",BS,Physics,Tel Aviv University
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35830,c:26530,Company,Embrella Cardiovascular,medical,closed,NaN,http://www.embrella.net,NaN,Wayne,NaN,...,2.0,6700000.0,NaN,NaN,0.0,p:44265,Chairman and CEO,"Business, Marketing",NaN,La Salle University
35839,c:136461,Company,Avantra Biosciences,biotech,closed,01/01/2010,http://www.avantrabio.com,NaN,Woburn,NaN,...,1.0,8000000.0,NaN,NaN,0.0,p:264374,Co-Founder,MBA,Entrepreneurship/Entrepreneurial Studies / Ope...,Rensselaer Polytechnic Institute
35886,c:50729,Company,Mpex Pharmaceuticals,biotech,closed,NaN,http://www.mpexpharma.com,NaN,San Diego,NaN,...,1.0,32000000.0,01/01/2007,01/01/2007,1.0,p:116089,President & CEO,BA,Economics,Stanford University
36119,c:12188,Company,Mybandstock,games_video,closed,15/01/2009,http://www.mybandstock.com,NaN,Los Angeles,NaN,...,1.0,0.0,01/08/2010,01/08/2010,1.0,p:27189,Founder,NaN,Music Technology / Music Business,University of Michigan
36416,c:76237,Company,PodSeven,games_video,closed,15/07/2010,http://www.podseven.com,podseven_en,"Pozuelo de AlarcÃ³n, Madrid",NaN,...,0.0,0.0,01/08/2011,01/08/2011,1.0,p:92760,CEO - Founder,NaN,Game and Interactive Media Design,CICE

In [17]:
#izbacivanje nepotrebnih redova
dfTarget.drop(dfTarget[(dfTarget.status == 'alpha') | 
           (dfTarget.status=='ipo') | 
           (dfTarget.status=='live') | 
           (dfTarget.status=='beta') | 
           (dfTarget.status=='private') | 
           (dfTarget.status=='development')].index, inplace=True)
dfTarget.drop(dfTarget[(dfTarget.entity_type)=='Person'].index,inplace=True)

In [18]:
dfTarget.category_code=dfTarget.category_code.fillna('')
dfTarget.drop(dfTarget[(dfTarget.entity_type)=='Person'].index,inplace=True) #izbaci startupe za koje se ne zna iz koje drzave dolaze

In [19]:
dfTarget = dfTarget.merge(dfOffices, 
                   on = "object_id", 
                   how = 'right')
dfTarget

,object_id,entity_type,name,category_code,status,founded_at,homepage_url,twitter_username,city_x,first_investment_at,...,title,degree_type,subject,institution,region,city_y,state_code,country_code,latitude,longitude
0,c:1,Company,Wetpaint,web,operating,17/10/2005,http://wetpaint-inc.com,BachelrWetpaint,Seattle,NaN,...,Co-Founder/CEO/Board of Directors,BS,Electrical Engineering/Computer Science,"University of California, Berkeley",Seattle,Seattle,WA,USA,47.603122,-122.333253
1,c:3,Company,Zoho,software,operating,15/09/2005,http://zoho.com,zoho,Pleasanton,NaN,...,CEO and Founder,BS,NaN,"Indian Institute of Technology, Madras",SF Bay,Pleasanton,CA,USA,37.692934,-121.904945
2,c:4,Company,Digg,news,acquired,11/10/2004,http://www.digg.com,digg,San Francisco,NaN,...,Founder & CEO,NaN,NaN,"University of Nevada, Las Vegas",SF Bay,San Francisco,CA,USA,37.764726,-122.394523
3,c:5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,SF Bay,Menlo Park,CA,USA,37.416050,-122.151801
4,c:7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,SF Bay,Palo Alto,CA,ISR,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112713,f:15098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,New York,Greenwich,CT,USA,0.000000,0.000000
112714,c:286200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,Santa Barbara,Santa Barbara,CA,USA,0.000000,0.000000
112715,c:256895,Company,CompuMed,,operating,NaN,http://compumed.ning.com,NaN,Los Angeles,NaN,...,CEO,NaN,NaN,"University of California, Berkeley",Los Angeles,Los Angeles,CA,USA,0.000000,0.000000
112716,c:256200,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,New York,New York,NY,USA,0.000000,0.000000
112717,c:286215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,SF Bay,San Mateo,CA,USA,0.000000,0.000000

Dodavanje kategorickih obiljezja za twiter i web_page

In [20]:
dfTarget['twiter_categorical']=1
dfTarget['web_page_categorical']=1
dfTarget.twitter_username = dfTarget.twitter_username.fillna('')
dfTarget.homepage_url = dfTarget.homepage_url.fillna('')
dfTarget.loc[(dfTarget['twitter_username'] ==''), 'twiter_categorical'] = 0
dfTarget.loc[(dfTarget['homepage_url'] ==''), 'web_page_categorical'] = 0
dfTarget=dfTarget.drop(columns=['twitter_username','homepage_url'])
dfTarget.loc[(dfTarget['category_code'] ==''), 'category_code'] = 'other'

In [21]:
dfTarget.category_code=dfTarget.category_code.fillna('')
dfTarget.entity_type=dfTarget.entity_type.fillna('')
dfTarget.name=dfTarget.name.fillna('')
dfTarget.drop(dfTarget[(dfTarget.entity_type)==''].index,inplace=True)
print(len(dfTarget[(dfTarget['status']=='closed')]))
print(len(dfTarget))
dfTarget
print(dfTarget.columns)

#dfTarget.region=dfTarget.region.fillna('') # SD: ne postoji obelezje region
#dfTarget.to_csv('dfTarget.csv')

554
23791
Index(['object_id', 'entity_type', 'name', 'category_code', 'status',
       'founded_at', 'city_x', 'first_investment_at', 'last_investment_at',
       'investment_rounds', 'invested_companies', 'first_funding_at',
       'last_funding_at', 'funding_rounds', 'funding_total_usd',
       'first_milestone_at', 'last_milestone_at', 'milestones',
       'person_object_id', 'title', 'degree_type', 'subject', 'institution',
       'region', 'city_y', 'state_code', 'country_code', 'latitude',
       'longitude', 'twiter_categorical', 'web_page_categorical'],
      dtype='object')

In [22]:

# address = 'New York'
# url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'

# response = requests.get(url).json()
# print(response[0]["lat"])
# print(response[0]["lon"])
# print(dfTarget.columns)

# for index, row in dfOffices.iterrows():
#     if row['latitude']==0 and row['longitude']==0:
#         address=row['city']
#         url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(address) +'?format=json'
#         response = requests.get(url).json()
#         if (len(response)!=0):
#             print(response[0]["lat"])
#             print(response[0]["lon"])
#             row['latitude']=response[0]["lat"]
#             row['longitude']=response[0]["lon"]

In [23]:
dfTarget.founded_at=dfTarget.founded_at.fillna('')
dfTarget=dfTarget.drop(columns=['subject','degree_type','person_object_id'])
dfTarget

,object_id,entity_type,name,category_code,status,founded_at,city_x,first_investment_at,last_investment_at,investment_rounds,...,title,institution,region,city_y,state_code,country_code,latitude,longitude,twiter_categorical,web_page_categorical
0,c:1,Company,Wetpaint,web,operating,17/10/2005,Seattle,NaN,NaN,0.0,...,Co-Founder/CEO/Board of Directors,"University of California, Berkeley",Seattle,Seattle,WA,USA,47.603122,-122.333253,1,1
1,c:3,Company,Zoho,software,operating,15/09/2005,Pleasanton,NaN,NaN,0.0,...,CEO and Founder,"Indian Institute of Technology, Madras",SF Bay,Pleasanton,CA,USA,37.692934,-121.904945,1,1
2,c:4,Company,Digg,news,acquired,11/10/2004,San Francisco,NaN,NaN,0.0,...,Founder & CEO,"University of Nevada, Las Vegas",SF Bay,San Francisco,CA,USA,37.764726,-122.394523,1,1
5,c:8,Company,Postini,web,acquired,02/06/1999,San Carlos,NaN,NaN,0.0,...,Executive Vice President,University of Minnesota-Twin Cities,SF Bay,San Carlos,CA,USA,37.506885,-122.247573,0,1
6,c:9,Company,Geni,web,acquired,01/06/2006,West Hollywood,NaN,NaN,0.0,...,Founder & Chairman,"University of Chicago, School of Law",Los Angeles,West Hollywood,CA,USA,34.090368,-118.393064,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
112682,c:243062,Company,Overdog,games_video,operating,01/01/2012,Nashville,NaN,NaN,0.0,...,Founder,Vanderbilt University,Nashville,Nashville,TN,USA,0.000000,0.000000,1,1
112684,c:243478,Company,Quip,other,operating,01/01/2012,San Francisco,NaN,NaN,0.0,...,Founder and CEO,Stanford University,SF Bay,San Francisco,CA,USA,0.000000,0.000000,1,1
112686,c:286125,Company,Koru,education,operating,,Seattle,NaN,NaN,0.0,...,CEO,The University of Western Ontario - Richard Iv...,Seattle,Seattle,WA,USA,0.000000,0.000000,0,1
112692,c:286148,Company,RewardCo,advertising,operating,,Sydney,NaN,NaN,0.0,...,Founder,Sydney Graduate School of Management,Sydney,Sydney,NaN,AUS,0.000000,0.000000,1,1
112715,c:256895,Company,CompuMed,other,operating,,Los Angeles,NaN,NaN,0.0,...,CEO,"University of California, Berkeley",Los Angeles,Los Angeles,CA,USA,0.000000,0.000000,0,1

In [24]:
dfTarget.to_csv('result1.csv', index=True)

## TODO: uraditi grupisanje po oblastima kategorije
IT-web,software,mobile,network_hosting,search,automotive,security
Advertising-advertising,news,ecomerce,social,public_relations
Medicine-biotech, hospitality, health, medical
Hardware-hardware,nanotech,manufacturing,semiconductor,
Nonprofit
Entertainment-games_video,,music,photo_video
Green tehcnology- cleantech
Consulting-government,finance,consulting,analytics,enterprise
Other-local,other,transportation,travel,pets,messaging,real_estate
Education-education,sports
Fashion-fashion,design

In [25]:
# print(dfTarget["entity_type"].unique())
categories_one_hot=pandas.get_dummies(dfTarget.category_code)
dfTarget = pandas.concat([dfTarget, categories_one_hot], axis=1)

In [26]:
entity_type_one_hot=pandas.get_dummies(dfTarget.entity_type)
dfTarget = pandas.concat([dfTarget, entity_type_one_hot], axis=1)

In [27]:
dfTarget=dfTarget.drop(columns=['category_code', 'entity_type', 'name', 'city_x', 'title', 'city_y', 'state_code', 'country_code', 'object_id',
                               'founded_at', 'first_investment_at', 'last_investment_at', 'first_funding_at', 'last_funding_at', 'first_milestone_at', 'last_milestone_at', 'institution', 'region' ])

In [28]:
print(dfTarget)

           status  investment_rounds  invested_companies  funding_rounds  \
0       operating                0.0                 0.0             3.0
1       operating                0.0                 0.0             0.0
2        acquired                0.0                 0.0             4.0
5        acquired                0.0                 0.0             0.0
6        acquired                0.0                 0.0             3.0
...           ...                ...                 ...             ...
112682  operating                0.0                 0.0             1.0
112684  operating                0.0                 0.0             1.0
112686  operating                0.0                 0.0             1.0
112692  operating                0.0                 0.0             0.0
112715  operating                0.0                 0.0             1.0

        funding_total_usd  milestones   latitude   longitude  \
0              39750000.0         5.0  47.603122 -122.333253
1                     0.0         5.0  37.692934 -121.904945
2              45000000.0         8.0  37.764726 -122.394523
5                     0.0         0.0  37.506885 -122.247573
6              16500000.0         4.0  34.090368 -118.393064
...                   ...         ...        ...         ...
112682           450000.0         0.0   0.000000    0.000000
112684         15000000.0         2.0   0.000000    0.000000
112686          4350000.0         0.0   0.000000    0.000000
112692                0.0         0.0   0.000000    0.000000
112715           120000.0         0.0   0.000000    0.000000

        twiter_categorical  web_page_categorical  ...  security  \
0                        1                     1  ...         0
1                        1                     1  ...         0
2                        1                     1  ...         0
5                        0                     1  ...         0
6                        1                     1  ...         0
...                    ...                   ...  ...       ...
112682                   1                     1  ...         0
112684                   1                     1  ...         0
112686                   0                     1  ...         0
112692                   1                     1  ...         0
112715                   0                     1  ...         0

        semiconductor  social  software  sports  transportation  travel  web  \
0                   0       0         0       0               0       0    1
1                   0       0         1       0               0       0    0
2                   0       0         0       0               0       0    0
5                   0       0         0       0               0       0    1
6                   0       0         0       0               0       0    1
...               ...     ...       ...     ...             ...     ...  ...
112682              0       0         0       0               0       0    0
112684              0       0         0       0               0       0    0
112686              0       0         0       0               0       0    0
112692              0       0         0       0               0       0    0
112715              0       0         0       0               0       0    0

        Company  FinancialOrg
0             1             0
1             1             0
2             1             0
5             1             0
6             1             0
...         ...           ...
112682        1             0
112684        1             0
112686        1             0
112692        1             0
112715        1             0

[23791 rows x 54 columns]

In [29]:
dfTarget['status'].value_counts()

operating    20671
acquired      2566
closed         554
Name: status, dtype: int64

In [30]:
y = dfTarget['status']
y = dfTarget['status'].map({'operating': 1, 'acquired': 1, 'closed': 0})
X = dfTarget.drop(columns=['status'])

## Oversampling

In [31]:
# Primena SMOTE algoritma za balansiranje podataka
smote = SMOTE(random_state=42)
X_res, y_res = smote.fit_resample(X, y)

# Prikaz balansiranih podataka
balanced_df = pandas.concat([pandas.DataFrame(X_res), pandas.DataFrame(y_res, columns=['target'])], axis=1)
print(balanced_df['target'].value_counts())

Series([], Name: target, dtype: int64)

In [41]:
# print(y_res)
print(y_res)

0        1
1        1
2        1
3        1
4        1
        ..
46469    0
46470    0
46471    0
46472    0
46473    0
Name: status, Length: 46474, dtype: int64

In [42]:
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.1, random_state=42, stratify=y_res)
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.111, random_state=42, stratify=y_train)

print('Broj ciljnih vrednosti \'closed\' u trening skupu:', np.sum(y_train==0))
print('Broj ciljnih vrednosti \'closed\' u validacionom skupu:', np.sum(y_val==0))
print('Broj ciljnih vrednosti \'closed\' u test skupu:', np.sum(y_test==0))

Broj ciljnih vrednosti 'closed' u trening skupu: 18591
Broj ciljnih vrednosti 'closed' u validacionom skupu: 2322
Broj ciljnih vrednosti 'closed' u test skupu: 2324

In [43]:
# print(X_train)

       investment_rounds  invested_companies  funding_rounds  \
744                  0.0                 0.0        1.000000
13569                0.0                 0.0        0.000000
40544                0.0                 0.0        1.000000
382                  0.0                 0.0        5.000000
41981                0.0                 0.0        1.000000
...                  ...                 ...             ...
6530                 0.0                 0.0        2.000000
30523                0.0                 0.0        1.464158
4406                 0.0                 0.0        4.000000
8804                 0.0                 0.0        1.000000
44686                0.0                 0.0        0.221624

       funding_total_usd  milestones   latitude   longitude  \
744         0.000000e+00    0.000000   0.000000    0.000000
13569       0.000000e+00    2.000000   0.000000    0.000000
40544       0.000000e+00    0.279726   0.000000    0.000000
382         3.100000e+07    4.000000  37.090240  -95.712891
41981       6.500000e+05    1.608274   7.334863  -23.926902
...                  ...         ...        ...         ...
6530        1.100000e+06    2.000000   0.000000    0.000000
30523       9.930376e+06    1.696237  36.880000  -82.149459
4406        4.997122e+06    1.000000   0.000000    0.000000
8804        2.000000e+06    1.000000   0.000000    0.000000
44686       0.000000e+00    2.778376  37.523492 -122.228460

       twiter_categorical  web_page_categorical  advertising  ...  security  \
744                     1                     1            0  ...         0
13569                   1                     1            0  ...         0
40544                   1                     1            0  ...         0
382                     0                     1            1  ...         0
41981                   0                     1            0  ...         0
...                   ...                   ...          ...  ...       ...
6530                    1                     1            0  ...         0
30523                   1                     1            0  ...         0
4406                    1                     1            0  ...         0
8804                    0                     1            0  ...         0
44686                   0                     1            0  ...         0

       semiconductor  social  software  sports  transportation  travel  web  \
744                0       0         0       0               0       0    1
13569              0       0         0       0               0       0    0
40544              0       0         0       0               0       0    0
382                0       0         0       0               0       0    0
41981              0       0         0       0               0       0    0
...              ...     ...       ...     ...             ...     ...  ...
6530               0       0         1       0               0       0    0
30523              0       0         0       0               0       0    0
4406               0       0         0       0               0       0    0
8804               0       0         0       0               0       0    0
44686              0       0         0       0               0       0    0

       Company  FinancialOrg
744          1             0
13569        1             0
40544        1             0
382          1             0
41981        1             0
...        ...           ...
6530         1             0
30523        1             0
4406         1             0
8804         1             0
44686        1             0

[37183 rows x 53 columns]

## Random Forest algoritam

In [49]:
# Kreiraj instancu Random Forest klasifikatora sa 100 stabala
rfc = RandomForestClassifier(n_estimators=100)

# Obuči model na X_train i y_train podacima
rfc.fit(X_train, y_train)

# Predvidi klase za X_train i X_test podatke
y_train_pred = rfc.predict(X_train)
y_test_pred = rfc.predict(X_test)

# Izračunaj tačnost modela
train_accuracy = accuracy_score(y_train, y_train_pred)
test_accuracy = accuracy_score(y_test, y_test_pred)

print("Train Accuracy:", train_accuracy)
print("Test Accuracy:", test_accuracy)

Train Accuracy: 0.9908560363607025
Test Accuracy: 0.9763339070567987

## Linearna regresija

In [45]:
reg = LinearRegression()

# Obuči model na trening podacima
reg.fit(X_train, y_train)

# Predvidi vrednosti za test podatke
y_pred = reg.predict(X_test)

# Izračunaj srednju kvadratnu grešku
mse = mean_squared_error(y_test, y_pred)

# Prikaz rezultata
print("Koeficijenti regresije:", reg.coef_)
print("Intercept:", reg.intercept_)
print("Srednja kvadratna greška:", mse)

Koeficijenti regresije: [ 1.13851251e-04 -6.75615765e-04 -1.08497935e-02  1.26481118e-10
  9.91224552e-03  1.00380737e-03  2.80931389e-04  1.38062969e-01
 -2.19522904e-02  7.94993927e-01  8.97761587e-01  9.27714635e-01
  8.83396579e-01  8.59803548e-01  8.87602116e-01  9.50078708e-01
  7.38570558e-01  9.19263135e-01  8.36954230e-01  8.94322553e-01
  8.38568217e-01  5.55487411e-01  9.14288727e-01  7.95630633e-01
  9.45796273e-01  8.81546011e-01  9.16026562e-01  9.30162854e-01
  9.65927727e-01  9.15993733e-01  4.38982914e-01  7.29879149e-01
  8.90293684e-01  9.89800257e-01  8.98232296e-01  9.13509018e-01
  9.17511327e-01  8.80438275e-01  9.14019024e-01  8.40079568e-01
  8.81368166e-01  9.02785517e-01  8.47079231e-01  9.21189874e-01
  8.80299689e-01  7.81011570e-01  8.45727805e-01  8.94679856e-01
  5.02003456e-01  8.33112732e-01  4.38645323e-01 -5.43338095e-02
  5.43338095e-02]
Intercept: 0.022475188129878698
Srednja kvadratna greška: 0.07185404800413432

## F1 mera

In [96]:
# Izdvajanje manjiske klase
zero_positions = np.where(y_test == 0)

# Izbacivanje vrednosti iz y_test_pred na ovim pozicijama
y_test_pred_closed = y_test_pred[zero_positions]
print(y_test_pred_closed.size)

y_test_closed = y_test.where(y_test == 0)
y_test_closed = y_test_closed.dropna()
print(y_test_closed)

2324
34235    0.0
33966    0.0
36983    0.0
34444    0.0
40887    0.0
        ...
35889    0.0
40319    0.0
42459    0.0
25957    0.0
28829    0.0
Name: status, Length: 2324, dtype: float64

In [97]:
precision = precision_score(y_test, y_test_pred)
recall = recall_score(y_test, y_test_pred)
f1 = f1_score(y_test, y_test_pred)

print("Precision: ", precision)
print("Recall: ", recall)
print("F1-score: ", f1)

TypeError: 'numpy.ndarray' object is not callable

In [98]:
mask = y_test == 1

# izaberi samo one vrednosti iz y_test_pred i y_test koje su jednake 0
y_test_0 = y_test[mask]
y_test_pred_0 = y_test_pred[mask]

print(y_test_0)
print(y_test_0.size)
print('*****')
print(y_test_pred_0)
print(y_test_pred_0.size)

# izračunaj precision, recall i F1 skor
f11 = f1_score(y_test_0, y_test_pred_0)
precision, recall, f1_score, support = precision_recall_fscore_support(y_test_0, y_test_pred_0)

# prikaži rezultate
print(f"Precision: {precision[0]:.2f}")
print(f"Recall: {recall[0]:.2f}")
print(f"F1 score: {f1_score[0]:.2f}")

11685    1
16521    1
22699    1
10444    1
22299    1
        ..
2926     1
4994     1
17911    1
10204    1
12910    1
Name: status, Length: 2324, dtype: int64
2324
*****
[1 1 1 ... 1 1 1]
2324

TypeError: 'numpy.ndarray' object is not callable